<!DOCTYPE html>
<html lang="es">
	<head>
		<title>FastFud Perú - Register</title>

		<meta charset="utf-8"/>
		<meta name="author" content="FastFud Peru"/>
		<meta name="description" content="El mejor sitio para realizar tus pedidos. ¡Descubre los mejores platos de todos los restaurantes y centros de comida aquí!"/>
		<meta name="keywords" content="FastFud-Peru,Envios,Comida,TheBest"/>
		<meta name="robots" content="follow"/>

		<link rel='icon' href='img/Favicon.png' type='image/x-icon'/>
		<link href="css/estilos.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

		<script src="/static/functions.js"></script>
	</head>
	<body>
		<div align="center">
			<table class="container">
				<tbody>
					<tr>
						<td id="RGimg">
							<img  src="https://search.chow.com/thumbnail/840/517/www.chowstatic.com/assets/2016/09/steaknshakefries.jpg"/>
						</td>
						<td align="center" class="Rspace">
							<form name="form" class="form" style="font-size: 13px; padding-right: 30px;">
								<p align="left" style="font-size: 16px; color: rgb(178,119,42);"><strong>&nbsp&nbsp&nbsp&nbspREGISTRO:</strong></p>
								<p align="center" id="fillspaces" class="alert"><strong>Rellene los espacios en blanco.</strong></p>
								<p align="left"><strong >Username:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong><input id="register_user" type="text" name="email"></p>
								<p align="left"><strong >Nombre:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong><input id="register_name" onkeyup="compare()" type="text" name="password1"></p>
								<p align="left"><strong>Contraseña:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong><input id="register_password" onkeyup="compare()" type="text" name="password2"></p>

								<div align="center">
									<strong>Categoría:&nbsp</strong>
									<select name="categoría" id="categoria">
										<option value="" selected></option>
										<option value="Cliente">Cliente</option>
										<option value="Repartidor">Repartidor</option>
										<option value="Administrador">Administrador</option>
									</select>
								</div>
								<p style="font-size: 14px;">
									<input type="checkbox" name="accept" id="accept">&nbspAcepto los términos y condiciones.
								</p>
								<p align="right">
									<input onclick="register()" type="button" value="Completar registro.">
								</p>
							</form>
							<br>
							<a href="/static/login-1.html">Volver</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>