<!DOCTYPE html>
<html>
	<head>
		<title>FastFud - Recover Account</title>

		<meta charset="utf-8"/>
		<meta name="author" content="FastFud Peru"/>
		<meta name="description" content="El mejor sitio para realizar tus pedidos. ¡Descubre los mejores platos de todos los restaurantes y centros de comida aquí!"/>
		<meta name="keywords" content="FastFud-Peru,Envios,Comida,TheBest"/>
		<meta name="robots" content="follow"/>

		<link rel='icon' href='img/Favicon.png' type='image/x-icon'/>
		<link href="css/estilos.css" rel="stylesheet" type="text/css">

		<script src="js/functions.js"></script>
	</head>
	<body>
		<div align="center">
			<table class="container">
				<tbody>
					<tr>
						<td id="RCimg">
							<img src="https://cdn.cnn.com/cnnnext/dam/assets/171212124243-03-new-years-food-tamales.jpg"/>
						</td>
						<td align="center" class="Rspace">
							<form name="form" class="form">
								<p align="left" style="font-size: 16px; color: rgb(178,119,42);"><strong>RECUPERAR CONTRASEÑA.</strong></p>
								<p align="left" style="font-size: 14px;"><strong>Correo electrónico:</strong>&nbsp&nbsp<input type="text" name="email"></p>
								<p align="centers"><input type="button" name="send" value="Enviar."></p>
							</form>
							<br>
							<input onclick="gologin()" type="button" value="Volver.">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>