<!DOCTYPE html>
<html lang="es">
	<head>
		<title>FastFud Perú - Login</title>

		<meta charset="utf-8"/>
		<meta name="author" content="FastFud Peru"/>
		<meta name="description" content="El mejor sitio para realizar tus pedidos. ¡Descubre los mejores platos de todos los restaurantes y centros de comida aquí!"/>
		<meta name="keywords" content="FastFud-Peru,Envios,Comida,TheBest"/>
		<meta name="robots" content="follow"/>

		<link rel='icon' href='img/Favicon.png' type='image/x-icon'/>
		<link href="css/estilos.css" rel="stylesheet" type="text/css">

		<script src="js/functions.js"></script>
	</head>
	<body>
		<div align="center">
			<table class="container">
				<tbody>
					<tr>
						<td id="LGimg">
							<img src="https://truffle-assets.imgix.net/e8a136d5-thumb-p.jpg"/>
						</td>
						<td align="center" class="Rspace">
							<form name="form" class="form">
					  			<p align="center" class="logoBg">
					  				<br>
					  				<img src="img/Logo.png" width="35%"/>
					  				<br>
					  				FastFud Perú
					  				<br>
					  				<br>
					  			</p>
					  			<p align="center" id="notvalidaccount" class="alert"><strong>Correo y/o contraseña no válido(s).</strong></p>
					  			<p align="center" id="fillspaces" class="alert"><strong>Rellene los espacios en blanco.</strong></p>
					  			<p align="left"><input type="email" name="login" placeholder=" Correo electrónico..."></p>
						  		<p align="left"><input type="password" name="password" placeholder=" Contraseña..."></p>
					  			<p align="center"><input onclick="goindex()" type="button" value="Acceder."></p>
					  		</form>
					  		<p align="center" id="Options">
						  		<br>
						  		<strong>¿No puedes ingresar?</strong>&nbsp<input onclick="recover()" type="button" value="Ayuda.">
						  		<br>
						  		<br>
						  		<strong>¿No tienes cuenta?</strong>&nbsp<input onclick="register()" type="button" value="Regístrate.">
						  		<br>
						  		<br>
					  		</p>
					 	</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>