<!DOCTYPE html>
<html lang="es">
	<head>
		<title>FastFud Perú - Register</title>

		<meta charset="utf-8"/>
		<meta name="author" content="FastFud Peru"/>
		<meta name="description" content="El mejor sitio para realizar tus pedidos. ¡Descubre los mejores platos de todos los restaurantes y centros de comida aquí!"/>
		<meta name="keywords" content="FastFud-Peru,Envios,Comida,TheBest"/>
		<meta name="robots" content="follow"/>

		<link rel='icon' href='img/Favicon.png' type='image/x-icon'/>
		<link href="css/estilos.css" rel="stylesheet" type="text/css">

		<script src="js/functions.js"></script>
	</head>
	<body>
		<div align="center">
			<table class="container">
				<tbody>
					<tr>
						<td id="RGimg">
							<img  src="https://search.chow.com/thumbnail/840/517/www.chowstatic.com/assets/2016/09/steaknshakefries.jpg"/>
						</td>
						<td align="center" class="Rspace">
							<form name="form" class="form" style="font-size: 13px; padding-right: 30px;">
								<p align="left" style="font-size: 16px; color: rgb(178,119,42);"><strong>&nbsp&nbsp&nbsp&nbspREGISTRO:</strong></p>
								<p align="center" id="fillspaces" class="alert"><strong>Rellene los espacios en blanco.</strong></p>
								<p align="left"><strong>Correo electrónico:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong><input type="text" name="email"></p>
								<p align="left"><strong>Contraseña:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong><input onkeyup="compare()" type="text" name="password1"></p>
								<p align="left"><strong>Confirmar contraseña:&nbsp&nbsp</strong><input onkeyup="compare()" type="text" name="password2"></p>
								<!--Las contraseñas no coinciden-->
								<p id="unequalpassword" class="alert" align="center"><strong>&nbsp&nbspLos campos no coinciden.</strong></p><br>
								<!---->
								<div align="center">
									<strong>Categoría:&nbsp</strong>
									<select onchange="workercode()" name="categoría" id="categoría">
										<option value="" selected></option>
										<option value="client">Cliente</option>
										<option value="deliver">Repartidor</option>
										<option value="admin">Administrador</option>							
									</select>
								</div>
								<p id="validworker" align="center">
									<strong>Ingrese código de trabajador:&nbsp&nbsp</strong><input type="text" size="10" name="validworker">
								</p>
								<p style="font-size: 14px;">
									<input type="checkbox" name="accept" id="accept">&nbspAcepto los términos y condiciones.
								</p>
								<p align="right">
									<input onclick="endregister()" type="button" value="Completar registro.">
								</p>
							</form>
							<br>
							<input onclick="gologin()" type="button" value="Volver.">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>